#include <cstdint> // for uint*_t

#define DEFAULT_BASE (unsigned)10
#define BASE_INT uint16_t
#define BASE_INT_BIG uint32_t
#define BASE (BASE_INT_BIG)65'536
#define MAX_RATIO (double)0.000125
#define BIT_TYPE unsigned long long
#define BITS_IN_BYTE (BIT_TYPE)8
