#define D_DEFAULT_BASE 10
#define D_BASE_INT std::uint32_t
#define D_BASE_INT_BIG std::uint64_t
#define D_BASE 4'294'967'296
#define D_MAX_RATIO 0.000125
#define D_BIT_TYPE unsigned long long
#define D_BITS_IN_BYTE 8
#define D_ALLOCATOR std::allocator
