#include "../build/user_settings.cfg"

#ifndef NDEBUG
    #define FUNCTION_TO_STDERR \
    jmaths::utils::function_timer TIME_THIS_FUNCTION (std::source_location::current().function_name())
#else
    #define FUNCTION_TO_STDERR ((void)0)
#endif
