#include "user_settings.cfg"

#define MAX_DIGIT (BASE_INT)(BASE - 1)
#define BASE_INT_SIZE sizeof(BASE_INT)
#define BASE_INT_BITS (BASE_INT_SIZE * BITS_IN_BYTE)

#ifndef NDEBUG
    #define FUNCTION_TO_STDERR \
    function_timer TIME_THIS_FUNCTION (std::source_location::current().function_name())
#else
    #define FUNCTION_TO_STDERR ((void)0)
#endif
