#include "user_settings.cfg"

#define MAX_DIGIT (BASE_INT)(BASE - 1)
#define BASE_INT_SIZE sizeof(BASE_INT)
#define BASE_INT_BITS (BASE_INT_SIZE * BITS_IN_BYTE)

#ifndef NDEBUG
    #define FUNCTION_TO_STDERR (std::cerr << __PRETTY_FUNCTION__ << '\n')
#else
    #define FUNCTION_TO_STDERR ((void)0)
#endif
