#include <cstdint> // for uint*_t

#include "defaults_list.cfg"

#define DEFAULT_BASE (unsigned)D_DEFAULT_BASE
#define BASE_INT D_BASE_INT
#define BASE_INT_BIG D_BASE_INT_BIG
#define BASE (BASE_INT_BIG)D_BASE
#define MAX_RATIO (double)D_MAX_RATIO
#define BIT_TYPE D_BIT_TYPE
#define BITS_IN_BYTE (BIT_TYPE)D_BITS_IN_BYTE
